[GLOBAL]
workdir = /var/www/git-stats/workdir
detect_move = git-stats
process_pools = 2

[REPOSITORIES]
git-stats =
    clone: https://github.com/nsmgr8/git-stats.git
    web: https://github.com/nsmgr8/git-stats
    site: https://nsmgr8.github.io/git-stats-demo/
