<div class="card mt-2">
    <div class="card-header bg-secondary text-white">
        Authors
    </div>

    <div class="table-responsive">
        <table class="authors table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-right" (click)="toggleOrder('commits')">
                        <span *ngIf="order.field === 'commits'">
                            <span *ngIf="order.direction === -1">
                                &#x25B2;
                            </span>
                            <span *ngIf="order.direction === 1">
                                &#x25BC;
                            </span>
                        </span>
                        Commits
                    </th>
                    <th class="text-right" (click)="toggleOrder('insertions')">
                        <span *ngIf="order.field === 'insertions'">
                            <span *ngIf="order.direction === -1">
                                &#x25B2;
                            </span>
                            <span *ngIf="order.direction === 1">
                                &#x25BC;
                            </span>
                        </span>
                        Lines Added
                    </th>
                    <th class="text-right" (click)="toggleOrder('deletions')">
                        <span *ngIf="order.field === 'deletions'">
                            <span *ngIf="order.direction === -1">
                                &#x25B2;
                            </span>
                            <span *ngIf="order.direction === 1">
                                &#x25BC;
                            </span>
                        </span>
                        Lines Removed
                    </th>
                    <th class="text-right" (click)="toggleOrder('first_commit')">
                        <span *ngIf="order.field === 'first_commit'">
                            <span *ngIf="order.direction === -1">
                                &#x25B2;
                            </span>
                            <span *ngIf="order.direction === 1">
                                &#x25BC;
                            </span>
                        </span>
                        First Commit
                    </th>
                    <th class="text-right" (click)="toggleOrder('last_commit')">
                        <span *ngIf="order.field === 'last_commit'">
                            <span *ngIf="order.direction === -1">
                                &#x25B2;
                            </span>
                            <span *ngIf="order.direction === 1">
                                &#x25BC;
                            </span>
                        </span>
                        Last Commit
                    </th>
                    <th class="text-right" (click)="toggleOrder('days')">
                        <span *ngIf="order.field === 'days'">
                            <span *ngIf="order.direction === -1">
                                &#x25B2;
                            </span>
                            <span *ngIf="order.direction === 1">
                                &#x25BC;
                            </span>
                        </span>
                        Age (Days)
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let author of authors">
                    <th>{{ author.author }}</th>
                    <td class="text-right">{{ author.commits | number }}</td>
                    <td class="text-right text-success">{{ author.insertions | number }}</td>
                    <td class="text-right text-danger">{{ author.deletions | number }}</td>
                    <td class="text-right text-muted">{{ author.first_commit * 1000 | date }}</td>
                    <td class="text-right text-info">{{ author.last_commit * 1000 | date }}</td>
                    <td class="text-right text-muted">{{ author.days | number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-2"
    *ngFor="let period_type of author_of_the_periods">
    <div class="card-header bg-secondary text-white">
        Author of the {{ period_type.type | slice:0:-2 | titlecase }}
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped">

            <thead>
                <tr>
                    <th>Period</th>
                    <th>Name</th>
                    <th class="text-right">Commits</th>
                    <th class="text-right">Lines Added</th>
                    <th class="text-right">Lines Removed</th>
                    <th class="text-right"># Authors</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of period_type.value">
                    <td>{{ row.period | period:period_type.type }}</td>
                    <th>{{ row.data[0].author }}</th>
                    <td class="text-right">{{ row.data[0].commits }}</td>
                    <td class="text-right text-success">{{ row.data[0].insertions }}</td>
                    <td class="text-right text-danger">{{ row.data[0].deletions }}</td>
                    <td class="text-right">{{ row.data.length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
