<div class="card mt-2">
  <div class="card-header bg-secondary text-white">Authors</div>

  <div class="table-responsive">
    <table class="authors table table-sm table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-right" (click)="toggleOrder('commits')">
            <app-order-toggle
              [show]="order.field === 'commits'"
              [direction]="order.direction"
            >
              Commits
            </app-order-toggle>
          </th>
          <th class="text-right" (click)="toggleOrder('insertions')">
            <app-order-toggle
              [show]="order.field === 'insertions'"
              [direction]="order.direction"
            >
              Lines Added
            </app-order-toggle>
          </th>
          <th class="text-right" (click)="toggleOrder('deletions')">
            <app-order-toggle
              [show]="order.field === 'deletions'"
              [direction]="order.direction"
            >
              Lines Removed
            </app-order-toggle>
          </th>
          <th class="text-right" (click)="toggleOrder('first_commit')">
            <app-order-toggle
              [show]="order.field === 'first_commit'"
              [direction]="order.direction"
            >
              First Commit
            </app-order-toggle>
          </th>
          <th class="text-right" (click)="toggleOrder('last_commit')">
            <app-order-toggle
              [show]="order.field === 'last_commit'"
              [direction]="order.direction"
            >
              Last Commit
            </app-order-toggle>
          </th>
          <th class="text-right" (click)="toggleOrder('days')">
            <app-order-toggle
              [show]="order.field === 'days'"
              [direction]="order.direction"
            >
              Age (Days)
            </app-order-toggle>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let author of authors">
          <th>
            <a
              [routerLink]="[
                '/repo',
                repo,
                'author',
                { author: author.author },
              ]"
            >
              {{ author.author }}
            </a>
          </th>
          <td class="text-right">{{ author.commits | number }}</td>
          <td class="text-right text-success">
            {{ author.insertions | number }}
          </td>
          <td class="text-right text-danger">
            {{ author.deletions | number }}
          </td>
          <td class="text-right text-muted">
            {{ author.first_commit * 1000 | date }}
          </td>
          <td class="text-right text-info">
            {{ author.last_commit * 1000 | date }}
          </td>
          <td class="text-right text-muted">{{ author.days | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-2" *ngFor="let period_type of author_of_the_periods">
  <div class="card-header bg-secondary text-white">
    Author of the {{ period_type.type | slice: 0 : -2 | titlecase }} by
    {{ order_title[period_order.field] }}
  </div>

  <div class="table-responsive">
    <table class="authors table table-sm table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th>Period</th>
          <th>Name</th>
          <th class="text-right" (click)="togglePeriodOrder('commits')">
            <app-order-toggle
              [show]="period_order.field === 'commits'"
              [direction]="period_order.direction"
            >
              Commits
            </app-order-toggle>
          </th>
          <th class="text-right" (click)="togglePeriodOrder('insertions')">
            <app-order-toggle
              [show]="period_order.field === 'insertions'"
              [direction]="period_order.direction"
            >
              Lines Added
            </app-order-toggle>
          </th>
          <th class="text-right" (click)="togglePeriodOrder('deletions')">
            <app-order-toggle
              [show]="period_order.field === 'deletions'"
              [direction]="period_order.direction"
            >
              Lines Removed
            </app-order-toggle>
          </th>
          <th class="text-right"># Authors</th>
        </tr>
      </thead>

      <tbody>
        <ng-template ngFor let-row [ngForOf]="period_type.value">
          <tr>
            <td>{{ row.period | period: period_type.type }}</td>
            <th>
              <a
                [routerLink]="[
                  '/repo',
                  repo,
                  'author',
                  { author: row.data[0].author },
                ]"
              >
                {{ row.data[0].author }}
              </a>
            </th>
            <td class="text-right">{{ row.data[0].commits | number }}</td>
            <td class="text-right text-success">
              {{ row.data[0].insertions | number }}
            </td>
            <td class="text-right text-danger">
              {{ row.data[0].deletions | number }}
            </td>
            <td class="text-right show-others">
              <button
                class="btn btn-outline-info btn-sm"
                (click)="row.show_others = !row.show_others"
              >
                {{ row.data.length }}
              </button>
            </td>
          </tr>

          <tr *ngIf="row.show_others" class="table-info">
            <td colspan="6">
              <table
                class="small table table-sm table-bordered table-striped mb-0"
              >
                <thead>
                  <tr class="table-warning">
                    <th>Name</th>
                    <th class="text-right">Commits</th>
                    <th class="text-right">Lines Added</th>
                    <th class="text-right">Lines Removed</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let col of row.data.slice(1)">
                    <td>
                      <a
                        [routerLink]="[
                          '/repo',
                          repo,
                          'author',
                          { author: col.author },
                        ]"
                      >
                        {{ col.author }}
                      </a>
                    </td>
                    <td class="text-right">{{ col.commits | number }}</td>
                    <td class="text-right text-success">
                      {{ col.insertions | number }}
                    </td>
                    <td class="text-right text-danger">
                      {{ col.deletions | number }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
