<div class="card mt-2">
    <div class="card-header bg-secondary text-white">
        Files
    </div>

    <div class="card-body">
        <div echarts [options]="chartOptions">
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped mb-0">
            <thead>
                <tr class="table-warning">
                    <th>Author</th>
                    <th colspan="2" class="text-right">
                        Current Lines
                    </th>
                    <th colspan="2" class="text-right">
                        in Files
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of authors">
                    <th>
                        <a [routerLink]="['/repo', repo, 'author', {author: row.author}]">
                            {{ row.author }}
                        </a>
                    </th>
                    <td class="text-right">
                        {{ row.lines | number }}
                    </td>
                    <td class="text-right small text-muted">
                        {{ row.lines / summary.lines | percent:'0.2' }}
                    </td>
                    <td class="text-right">
                        {{ row.files | number }}
                    </td>
                    <td class="text-right small text-muted">
                        {{ row.files / summary.files | percent:'0.2' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
