<div class="card mt-2">
    <div class="card-header bg-secondary text-white">
        Files
    </div>

    <div class="card-body">
        <div echarts [options]="chartOptions">
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped mb-0">
            <thead>
                <tr class="table-warning">
                    <th>Author</th>
                    <th class="text-right">
                        Current Lines
                        <sup class="text-muted">&dagger;</sup>
                    </th>
                    <th class="text-right">in Files</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of authors">
                    <th>{{ row.author }}</th>
                    <td class="text-right">{{ row.lines }}</td>
                    <td class="text-right">{{ row.files }}</td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3" class="table-active">
                        <sup>&dagger;</sup>
                        Does not take into account lines moved/copied from
                        other commits/files/authors.
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
