<div class="card mt-2">
    <div class="card-header bg-secondary text-white">
        Lines of Code by Language <sup>&dagger;</sup>
    </div>

    <div class="card-body">
        <div echarts [options]="chart_options"></div>
    </div>

    <div class="table-responsive">

        <table class="table table-sm table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>Language</th>
                    <th class="text-right" (click)="toggleOrder('nFiles')">
                        <span *ngIf="order === 'nFiles'">
                            &#x25BC;
                        </span>
                        Files
                    </th>
                    <th class="text-right" (click)="toggleOrder('blank')">
                        <span *ngIf="order === 'blank'">
                            &#x25BC;
                        </span>
                        Blank
                    </th>
                    <th class="text-right" (click)="toggleOrder('comment')">
                        <span *ngIf="order === 'comment'">
                            &#x25BC;
                        </span>
                        Comments
                    </th>
                    <th class="text-right" (click)="toggleOrder('code')">
                        <span *ngIf="order === 'code'">
                            &#x25BC;
                        </span>
                        Code
                    </th>
                    <th class="text-right table-active">
                        Total
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of lines">
                    <th>{{ row.lang }}</th>
                    <td class="text-right">{{ row.nFiles | number }}</td>

                    <td class="text-right">
                        {{ row.blank | number }}
                        <div class="small text-muted">
                            {{ row.blank / row.total | percent }}
                        </div>
                    </td>

                    <td class="text-right">
                        {{ row.comment | number }}
                        <div class="small text-muted">
                            {{ row.comment / row.total | percent }}
                        </div>
                    </td>

                    <td class="text-right">
                        {{ row.code | number }}
                        <div class="small text-muted">
                            {{ row.code / row.total | percent }}
                        </div>
                    </td>

                    <th class="text-right table-active">
                        {{ row.total | number }}
                    </th>
                </tr>
            </tbody>

            <tfoot *ngIf="lines_total">
                <tr class="table-active">
                    <th>Total</th>
                    <th class="text-right">{{ lines_total.nFiles | number }}</th>
                    <th class="text-right">{{ lines_total.blank | number }}</th>
                    <th class="text-right">{{ lines_total.comment | number }}</th>
                    <th class="text-right">{{ lines_total.code | number }}</th>
                    <th class="text-right table-active">{{ lines_total.total | number }}</th>
                </tr>
            </tfoot>
        </table>

    </div>

    <div class="card-footer">
        <div class="small" *ngIf="lines_total">
            <sup>&dagger;</sup>
            Generated by <a [href]="'https://'+lines_total.cloc_url">cloc</a>.
        </div>
    </div>
</div>
