<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">
        Source Code Statistics <sup class="small">*</sup>
    </a>

    <a class="btn btn-outline-light btn-sm"
        [routerLink]="['/']">
        Repositories
    </a>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="container-fluid">
    <hr>
    <div class="text-center">
        Last updated on
        <strong class="text-info">
            {{ last_updated | date }}
        </strong>
    </div>
    <hr>
    <div class="small">
        <sup class="small">*</sup>
        Source code repositories that are managed by
        <a href="https://git-scm.com/">git</a>.
    </div>
</footer>
