<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-header">
            Repository: <strong>{{ repo }}</strong>
        </div>
        <div class="card-body">
            <div class="row text-center">
                <div class="col mb-2"
                    *ngFor="let row of summary">
                    <div class="card-body h1 text-dark alert-success"
                        [title]="row.notes || ''">
                        {{ row.value | number }}
                    </div>
                    <div class="card-footer">
                        {{ row.key | titlecase }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
