<div class="card mt-2">
    <div class="card-header bg-secondary text-white">
        Activity ({{ active_days }} active days)
    </div>

    <div class="table-responsive">
        <table class="small table table-sm table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>Hour</th>
                    <th *ngFor="let i of hours">
                        {{ i | number:'2.0' }}:00
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Commits</td>
                    <td *ngFor="let i of hours" class="text-right">
                        {{ author_data?.at_hour?.commits[i] }}
                    </td>
                </tr>
                <tr>
                    <td>Lines Added</td>
                    <td *ngFor="let i of hours" class="text-right">
                        {{ author_data?.at_hour?.insertions[i] }}
                    </td>
                </tr>
                <tr>
                    <td>Lines Removed</td>
                    <td *ngFor="let i of hours" class="text-right">
                        {{ author_data?.at_hour?.deletions[i] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="embed-responsive">
        <div class="card-body">
            <div echarts [options]="options" *ngFor="let options of charts">
            </div>
        </div>
    </div>
</div>
